node_modules
.claude
tests
CLAUDE.md
.vite
.env.local
.env.production
.env
.env.*
.neon
cookies.txt
seed_mock_jornadas.sql
vite-env.d.ts
dist/
.CLAUDE.md
.firebaserc
.firebase/
.firebase.json
electron/
electron-builder.json
release/
package-lock.json
yarn.lock
pnpm-lock.yaml
coverage
test-results
.vite.config.ts
.eslintrc.js