node_modules
.claude
tests
CLAUDE.md
.vite
.env.local
.env.production
.env
.env.*
vite-env.d.ts
dist/
.CLAUDE.md
.firebaserc
.firebase/
.firebase.json
electron/
electron-builder.json
release/
package-lock.json
yarn.lock
.vite.config.ts
.eslintrc.js